Order-MS/ms-order.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Elección",
    "States": {
        "Elección": {
            "Type": "Choice",
            "Choices": [
                {
                    "Next": "Validar opciones",
                    "Condition": "{% $['detail-type'] = 'ProductoAgregado' %}"
                },
                {
                    "Next": "Obtener Ordenes (paginadas)",
                    "Condition": "{% $['detail-type'] = 'ObtenerOrdenesPasadas' %}"
                }
            ]
        },
        "Validar opciones": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "Next": "DynamoDB UpdateItem",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "Next": "Elección"
                }
            ]
        },
        "DynamoDB UpdateItem": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Arguments": {
                "TableName": "DB_Clientes",
                "Key": {
                    "user_id": {
                        "S": "{% 'USER#' & $userId %}"
                    },
                    "entity_type": {
                        "S": "CART"
                    }
                },
                "UpdateExpression": "SET items.#id = :attrs, updatedAt = :fecha, expiracion = :ttl",
                "ExpressionAttributeNames": {
                    "#id": "{% $itemId %}"
                },
                "ExpressionAttributeValues": {
                    ":attrs": {
                        "M": {
                            "nombre": {
                                "S": "{% $producto.nombre %}"
                            },
                            "precio": {
                                "N": "{% $string($producto.precio) %}"
                            },
                            "cantidad": {
                                "N": "{% $string($producto.cantidad) %}"
                            },
                            "opciones": {
                                "S": "{% $join($producto.opciones, ', ') %}"
                            }
                        }
                    },
                    ":fecha": {
                        "S": "{% $now() %}"
                    },
                    ":ttl": {
                        "N": "{% $string($floor(($millis() + 86400000) / 1000)) %}"
                    }
                }
            },
            "End": true
        },
        "Obtener Ordenes (paginadas)": {
            "Type": "Task",
            "Arguments": {
                "TableName": "DB_Pedidos",
                "ScanIndexForward": false,
                "Limit": 10,
                "KeyConditionExpression": "pk = :u AND begins_with(sk, :prefix)",
                "ExpressionAttributeValues": {
                    ":u": {
                        "S": "{% 'USER#' & $userId %}"
                    },
                    ":prefix": {
                        "S": "ORDER#"
                    }
                },
                "ExclusiveStartKey": "{% $nextToken %}"
            },
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
            "Next": "API Gateway Invoke"
        },
        "API Gateway Invoke": {
            "Type": "Task",
            "Resource": "arn:aws:states:::apigateway:invoke",
            "Arguments": {
                "ApiEndpoint": "MyApiId.execute-api.us-east-1.amazonaws.com",
                "Method": "POST",
                "AllowNullValues": true,
                "Headers": {
                    "Header1": [
                        "HeaderValue1"
                    ],
                    "Header2": [
                        "HeaderValue2",
                        "HeaderValue3"
                    ]
                },
                "Stage": "MyStage",
                "Path": "/pets/dog/1",
                "QueryParameters": {
                    "QueryParameter1": [
                        "QueryParameterValue1"
                    ],
                    "QueryParameter2": [
                        "QueryParameterValue2",
                        "QueryParameterValue3"
                    ]
                },
                "RequestBody": {
                    "Payload": "Hello from Step Functions!"
                },
                "AuthType": "IAM_ROLE"
            },
            "Next": "Call HTTPS APIs"
        },
        "Call HTTPS APIs": {
            "Type": "Task",
            "Resource": "arn:aws:states:::http:invoke",
            "Arguments": {
                "ApiEndpoint": "k",
                "Method": "POST",
                "InvocationConfig": {
                    "ConnectionArn": ""
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "BackoffRate": 2,
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "JitterStrategy": "FULL"
                }
            ],
            "End": true
        }
    },
    "QueryLanguage": "JSONata"
}